/* Banner style  */
.banner {
    color: white;
    display: flex;
    margin: 50px 120px 130px 150px;
    width: 75%;
    height: 646px;
    background-color: #161616;
    border-radius: 30px;
}

.title {
    font-weight: 700;
    font-size: 70px;
    margin-left: 106px;
    margin-top: 111px;
}

.title-details {
    margin-top: 20px;
    margin-left: 111px;
}

.button {
    color: white;
    background-color: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    gap: 10px;
    margin-top: 50px;
    margin-left: 111px;
}

.banner-image {
    width: 900px;
    height: 613px;
    margin: 150px;
}

/* body style */

.main {
    display: flex;

}

.page-links {
    background: #161616;
    border-radius: 10px;
    margin-left: 150px;
    height: 350px;
}

.link {
    background: #FFFFFF;
    border-radius: 5px;
    margin: 30px;
    width: 222px;
    height: 50px;
    left: 170px;
    text-align: center;
    padding-top: 25px;
}

.current-link {
    color: white;
    border-radius: 5px;
    margin: 30px;
    width: 222px;
    height: 50px;
    left: 170px;
    padding-top: 25px;
    text-align: center;
    background-color: #DD0000;
}

/* article */
.blog {
    margin-left: 95px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 312px;
    height: 362px;
    margin-bottom: 130px;

}

.transfer {
    border: 1px solid black;
    width: 55px;
    height: 20px;
}

.blog-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hour-chat {
    margin-left: -220px;
}

#tab {
    display: none;
}

footer {
    display: block;
    margin-bottom: 0px;
    background-color: #161616;
    color: white;

}